{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "env": {
        "es6": true
    },
    "plugins": [
        "react",
        "@typescript-eslint",
        "functional"
    ],
    "extends": [
        "plugin:react/recommended",
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
    ],
    "rules": {
        "semi": 0,
        "@typescript-eslint/member-delimiter-style": 0,
        "@typescript-eslint/explicit-function-return-type": 0,
        "@typescript-eslint/no-non-null-assertion": 0,
        "@typescript-eslint/no-explicit-any": 0,
        "functional/immutable-data": 0,
        "functional/non-return-void": 0,
        "react/react-in-jsx-scope": 0,
        "react/display-name": 0
    }
}