$correct-color: green;
$incorrect-color: red;
$default-color: cornflowerblue;

.accentWord {
    transition: 200ms;
    stroke-width: 5px;
    fill: white;
}

.correct {
    circle,
    line {
        stroke: $correct-color;
        fill: $correct-color;
    }
}

.incorrect {
    circle,
    line {
        stroke: $incorrect-color;
        fill: $incorrect-color;
    }
}

.default {
    circle,
    line {
        stroke: $default-color;
        fill: $default-color;
    }
}
